<a href="https://colab.research.google.com/github/saraswathykrk/python_proj/blob/main/PythonBasicsSolutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to Python"

In [ ]:
print("Welcome to Python")

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [ ]:
# Print “Hello, World!” to console
print("Hello, World!")

In [ ]:
# Define sharks variable as a list of strings
list_sample = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']

# For loop that iterates over sharks list and prints each string item
for sample in list_sample:
   print(sample)

### 2.Write a Python Program to Add Two Numbers

In [ ]:
# initialise two varaibles
a = 5
b = 3
# Add two numbers
sum = a + b

# Display the sum
print("the sum of a and b is {}" .format(sum))

### 3.Write a Python Program to Find the product of two numbers

In [ ]:
# initialise two varaibles
a = 5
b = 3
# multiply two numbers
c = a * b

# Display the sum
print("the product of a and b is {}" .format(c))

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [ ]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10

h=3;

b=10;

area_of_triangle = 1/2 * (h* b);

print("the product of a and b is {}" .format(area_of_triangle))

### 5.Python Program to Swap Two Variables

In [ ]:
# initialise two varaibles
a = 5
b = 3

# create a temporary variable and swap the values

temp = a
a = b
b = temp

print('The value of x after swapping: {}'.format(a))
print('The value of y after swapping: {}'.format(b))

## Section -

### 1.Write a python program to print datatype of a varaible

In [ ]:
a = 1
print(a, "is of type", type(a))

b = 2.0
print(a, "is of type", type(a))

c = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

### 2.Write a python program to extract an item or a range of items from a list.

In [ ]:
a = [15,20,35,40,45,30,35,60]

print(a[2])

print(a[0:3])

print(a[5:])

print(a[:6])

### 3.Converting Floats to Integers

In [ ]:
b = 125.0
c = 390.8

print(int(b))
print(int(c))

### 4.Converting Numbers to Strings

In [ ]:
a = 10

print(a, "is of type", type(a))

b = str(a)

print(b, "is of type", type(b))

### 5.Converting Strings to Numbers

In [ ]:
a = "50"
b = "108"

lines_more = int(a) - int(b)

print(lines_more)

### 6.Converting list to Tuples

In [ ]:
print(tuple(['request', 'source', 'repository', 'branch']))

### 7.Converting tuple to Lists

In [ ]:
print(list(('blue', 'red', 'white')))

### 8.converting strings to lists:

In [ ]:
print(list('INSAID'))

### 9.Assign different data types to a varibles

In [ ]:
my_string = 'Hello, World!'
my_flt = 45.06
my_bool = 5 > 9 #A Boolean value will return either True or False
my_list = ['item_1', 'item_2', 'item_3', 'item_4']
my_tuple = ('one', 'two', 'three')
my_dict = {'letter': 'g', 'number': 'seven', 'symbol': '&'}

## Section-

### Print out a string that uses a formatter

In [ ]:
print("john has {} cars.".format(5))

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [ ]:
open_string = "john likes {}."

print(open_string.format("open source"))

### Using Formatters with Multiple Placeholders

In [ ]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
print(new_open_string.format("open-source", "software"))    #Pass 2 strings into method, separated by a comma

In [ ]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
print(sammy_string.format("open-source", "software", 5, "balloons"))    #Pass 4 strings into method

### Reordering Formatters with Positional and Keyword Arguments

In [ ]:
print("john the {} has a pet {}!".format("shark", "pilot fish"))

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [ ]:

print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

### Python Program to Get String Input from User

In [ ]:
inputString = input("Enter any string: ")
print(inputString)

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [ ]:
grade = 70

if grade >= 65:
    print("Passing grade")

In [ ]:
grade = 60

if grade >= 65:
    print("Passing grade")

else:
    print("Failing grade")

### Write a python program calculate whether a bank account balance is below 0.

In [ ]:
balance = 522

if balance < 0:
    print("Balance is below 0, add funds now or you will be charged a penalty.")

else:
    print("Your balance is 0 or above.")

### Using Else if statement

In [ ]:
balance = 522

if balance < 0:
    print("Balance is below 0, add funds now or you will be charged a penalty.")

elif balance == 0:
    print("Balance is equal to 0, add funds soon.")

else:
    print("Your balance is 0 or above.")

### Python program to print  Fibonacci series between 0 to 50.

In [ ]:
nterms = 50

a = 0
b = 1

count = 0

if nterms <= 0:
   print("enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(0)
else:
   print("Fibonacci sequence upto",nterms,":")
   while count < nterms:
       print(a,end=' , ')
       nth = a + b
       # update values
       a = b
       b = nth
       count=count+1

Fibonacci sequence upto 50 :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 , 17711 , 28657 , 46368 , 75025 , 121393 , 196418 , 317811 , 514229 , 832040 , 1346269 , 2178309 , 3524578 , 5702887 , 9227465 , 14930352 , 24157817 , 39088169 , 63245986 , 102334155 , 165580141 , 267914296 , 433494437 , 701408733 , 1134903170 , 1836311903 , 2971215073 , 4807526976 , 7778742049 ,

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [ ]:
for number in range(150,270):
    if number %7==0 and number %5==0 :
        print(number)

### Python program to Sum all the items in a list

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers

print(sum_list([20,12,20,22]))

### Python program to Remove duplicates from a list.

In [ ]:
a = [10,20,30,40,50,60,70,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

### Python program to Get the largest number from a list.

In [ ]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1, 12, 28, 0]))

### Concatenation of Tuples.

In [ ]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1 + tuple2)

### Nesting of Tuples.

In [ ]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1, tuple2)
print(tuple3)

### Write a Python program to add an item in a tuple.

In [ ]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

#adding items in a specific index
tuplex = tuplex[:6] + (15, 20, 25)
print(tuplex)

### Write a Python program to remove an item from a tuple.

In [ ]:
#create a tuple
tuplex = "I", "D", "S", "P", "J"
listx = list(tuplex) 
#use different ways to remove an item of the list
listx.remove("I")
tuplex = tuple(listx)
print(tuplex)

### Python Program to Check if a given key already exists in a dictionary.

In [ ]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
      print('Key is present in the dictionary')
  else:
      print('Key is not present in the dictionary')
is_key_present(5)
is_key_present(9)

### Write a Python script to merge two Python dictionaries.

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

### Write a Python function to find the Max of three numbers.

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(13, 26, -5))

### Write a Python program to reverse a string.

In [ ]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('INSAID'))

### Write a Python function to calculate the factorial of a number

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

### Write a Python function to sum all the numbers in a list.

In [ ]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

### Write a Python function to check whether a number is in a given range.

In [ ]:
def test_range(n):
    if n in range(3,9):        # 3<=5 and 9>=5
        print( " %s is in the range" % n)
    else :
        print("The number is outside the given range.")
test_range(5)

### Find the value of pi using math module.

In [ ]:
# import statement example
# to import standard module math

import math
print("The value of pi is", math.pi)

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [ ]:
def file_read(fname):
        txt = open(fname)
        print(txt.read())

file_read('test.txt')

### Write a Python program to read a file line by line and store it into a list.

In [ ]:
def file_read(fname):
        with open(fname) as f:
                #Content_list is the list that contains the read lines.     
                content_list = f.readlines()
                print(content_list)

file_read('test.txt')

### A python program to create user-defined exception.

In [ ]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return('Suchit says a New Exception occured:  '+repr(self.value))
''' 
# try:
#     raise(MyError(3/7))
 
# except MyError as error:
#     print(error)
'''
raise(MyError(3/7))

### Write a Python program to calculate the discriminant value.

In [ ]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    discriminant = (b_value**2) - (4*a_value*c_value)
    if discriminant > 0:
        print('Two Solutions. Discriminant value is:', discriminant)
    elif discriminant == 0:
        print('One Solution. Discriminant value is:', discriminant)
    elif discriminant < 0:
        print('No Real Solutions. Discriminant value is:', discriminant)


discriminant()

In [ ]:
print('Hello World')

In [ ]:
print('What am I typing are you able to see?')